* {
    padding   : 0;
    margin    : 0;
    box-sizing: border-box;
}

body {
    background-color: #5cb85c;
    height          : 100vh;
    display         : flex;
    justify-content : center;
    align-items     : center;
}

#fundo-jogo {
    height     : 640px;
    width      : 640px;
    margin     : 0 auto;
    display    : flex;
    flex-wrap  : wrap;
    perspective: 1000px;
}

.carta {
    height         : calc(33.333% - 10px);
    width          : calc(25% - 10px);
    margin         : 5px;
    position       : relative;
    box-shadow     : 1px 1px 1px rgba(1, 1, 1, .3);
    cursor         : pointer;
    transform      : scale(1);
    transform-style: preserve-3d; /* não deixa o elemento achatado no plano */
    transition: transform .9s;
}

.carta:active {
    transform : scale(0.97);
    transition: trasform .3s;
}

.carta-frente,
.carta-verso {
    width        : 100%;
    height       : 100%;
    padding      : 20px;
    border-radius: 6px;
    background   : #fff;
    position     : absolute;
    backface-visibility: hidden; /* propriedade que retira o verso do elemento */
}

.carta-frente {
    transform: rotateY(180deg);
}

.carta-virada {
    transform: rotateY(180deg);
}
